/* rubik-500 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/rubik-v11-latin-500.woff2') format('woff2'),
       url('../fonts/rubik-v11-latin-500.woff') format('woff'); 
}
/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/rubik-v11-latin-regular.woff2') format('woff2'),
       url('../fonts/rubik-v11-latin-regular.woff') format('woff'); 
}